root = "."
testdata_dir = "testdata"
tmp_dir = "build"

[build]
  args_bin = []
  entrypoint = "./build/discobot"
  cmd = "go build -gcflags=\"all=-N -l\" -o ./build/discobot ./cmd/server && if [ \"$(uname)\" = \"Darwin\" ]; then codesign --entitlements discobot-server.entitlements --force --sign - ./build/discobot; fi"
  delay = 1000
  exclude_dir = ["assets", "buid", "vendor", "testdata", "node_modules", "workspaces"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = "go tool dlv exec --headless --continue --listen=:2345 --api-version=2 --accept-multiclient --log ./build/discobot"
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html", "sql"]
  include_file = [".env"]
  kill_delay = "5s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = true
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
